/* .table-scroll {
  table-layout: fixed;
  display: table;
}

.table-break {
  word-break: break-all;
}

.td {
  white-space: normal; 
  word-wrap: break-word;
} */

.table-root {
  width: 100%;
  height: 100%;
  margin-top: 24px; /* Assuming theme.spacing.unit * 3 equals 24px */
  overflow-x: auto;
  max-height: 150;
}

.table {
  /* min-width: 100; */
  /* display: block;
  overflow-x: auto;
  white-space: nowrap; */
  height: 300px;
  overflow: scroll;
}

.column-header::selection {
  color: red;
}
